# 'mesh_tools/mesh_conversion_tools/mark_horns_for_culling.py',
# 'mesh_tools/planar_grid_transformations/set_lat_lon_fields_in_planar_grid.py',
# 'mesh_tools/create_SCRIP_files/create_SCRIP_file_from_MPAS_mesh.py',
# 'mesh_tools/create_SCRIP_files/create_SCRIP_file_from_planar_rectangular_grid.py',
# 'landice/mesh_tools_li/create_landice_grid_from_generic_MPAS_grid.py',
# 'landice/mesh_tools_li/define_cullMask.py',
# 'landice/mesh_tools_li/interpolate_to_mpasli_grid.py',
# 'landice/mesh_tools_li/mark_domain_boundaries_dirichlet.py',
# 'ocean/coastline_alteration/add_land_locked_cells_to_mask.py',
# 'ocean/coastline_alteration/widen_transect_edge_masks.py',
# 'ocean/coastline_alteration/add_critical_land_blockages_to_mask.py',
# 'ocean/moc_southern_boundary_extractor/moc_southern_boundary_extractor.py',
# 'visualization/paraview_vtk_field_extractor/paraview_vtk_field_extractor.py'],
# include mpas_tools
# include mpas_tools.*

recursive-include ../mpas_tools*
